## Node
node_modules/

## Playwright and test artifacts
playwright-report/
lighthouse-report/
test-results/
a11y-report/

## OS files
.DS_Store

## Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

## Temporary files
.temp-*

## Env
.env
.env.*

## Editor folders
.vscode/
.idea/

## Build output
dist/
build/
coverage/
.nyc_output/

## Misc
.cache/
*.tgz
coverage-report/

